.containerPodeDepositar {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.containerPodeDepositar img {
  width: 65px;
}

ion-content.contentEcoSelecionado {
  /* --background: red; */
  --padding-top: 30px;
}

h4.selecionadoMorada {
  color: black;
  text-align: center;
}

.containerPodedepositar {
  margin-left: 4%;
  margin-bottom: 3%;
  margin-top: -1%;
  width: 100%;
  color: rgba(0, 0, 0, 0.655);
}

.containerDirecoes {
  margin-left: 4%;
  margin-top: 10%;
  color: rgba(0, 0, 0, 0.655);
  width: 100%;
}
