.containerPodeDepositar {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.containerPodeDepositar img {
  width: 60px;
}

h4.selecionadoMorada {
  color: black;
  text-align: center;
}
/*
.containerPodedepositar {
  margin-left: 4%;
  margin-bottom: 3%;
  margin-top: -1%;
  width: 100%;
  color: rgba(0, 0, 0, 0.655);
}

.containerDirecoes {
  margin-left: 4%;
  margin-top: 10%;
  margin-bottom: 1%;
  color: rgba(0, 0, 0, 0.655);
  width: 100%;
}*/

.sectionPodeDepositar {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionDirecoes {
  padding: 16px;
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

ion-segment-view {
  height: 140px;
}

ion-segment-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-segment-content:nth-of-type(1) {
  background: lightpink;
}
ion-segment-content:nth-of-type(2) {
  background: lightblue;
}
ion-segment-content:nth-of-type(3) {
  background: lightgreen;
}

.segment-button-checked::part(native) {
  color: #083ca3;
}

ion-segment-button::part(indicator-background) {
  background: #083ca3;
}