.containerPodeDepositar {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.containerPodeDepositar img {
    width: 65px;
}

ion-content.contentEcoSelecionado {
    /* --background: red; */
    --padding-top: 30px;
}

h4.selecionadoMorada {
    color: black;
    text-align: center;
}