.pagNoAccount {
  background-image: linear-gradient(
    to right top,
    #7dd16b,
    #7ed574,
    #80da7d,
    #81de86,
    #83e28f,
    #81e591,
    #7fe992,
    #7dec94,
    #76f08e,
    #6ff488,
    #67f781,
    #5ffb7a
  );
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.iconGreenSpot {
  width: 250px;
  filter: drop-shadow(0px 0px 15px white);
}

.iniciarSessaoPanel {
  background-image: linear-gradient(0deg,rgba(222, 255, 222, 1) 0%, rgba(255, 255, 255, 1) 100%);
  text-align: center;
  width: 80%;
  height: 30%;
  border-radius: 12px;
  padding: 10px;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.445));
}

.iniciarSessaoText {
  font-size: 25px;
  padding-top: 10px;
  font-weight: 700;
  color: rgb(62, 62, 62);
}

.welcomeBackText {
  color: rgb(99, 99, 99);
}

.divGoogleButton {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.233));
  display: flex;
  align-items: center;
}
