ion-segment-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
ion-segment-content:nth-of-type(1) {
  background: lightpink;
}
ion-segment-content:nth-of-type(2) {
  background: lightblue;
}
ion-segment-content:nth-of-type(3) {
  background: lightgreen;
}*/

ion-segment-button {
  background: rgba(0, 0, 0, 0.02)
}

.segment-button-checked::part(native) {
  color: #028006;
}

ion-segment-button::part(indicator-background) {
  background: #028006;
}

ion-toolbar.direcoesToolbar {
  text-align: center;
}

.direcoesContentHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.direcoesColumn {
  font-size: 20px;

}

.spanDuration {color: #2b7f3f}

.spanDistance {color: #5e5e5e}