.pagNoAccount {
  background-image: linear-gradient(to bottom, #38A31A, #38A31A, #38A31A, #eaeaea, #ffffff);
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.iconGreenSpot {
  width: 250px;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.301));
}

.iniciarSessaoPanel {
  background: white;
  text-align: center;
  width: 80%;
  height: 30%;
  border-radius: 12px;
  padding: 10px;
  filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.445));
}

.contentIniciarSessaoPanel {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
}

.iniciarSessaoText {
  font-size: 25px;
  font-weight: 700;
  color: rgb(62, 62, 62);
}

.welcomeBackText {
  color: rgb(99, 99, 99);
}

.divGoogleButton {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.233));
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
