
.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.containerPodeDepositar {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.containerPodeDepositar img {
  width: 60px;
}

h4.selecionadoMorada {
  color: black;
  text-align: center;
}

ion-button.ecoSelecionado {
  --background: rgb(0, 109, 9)
}