.imgEcoponto {
    transition: transform 0.2s ease;
    cursor: pointer;
    width: 27px;
    filter: drop-shadow(0px 5px 5px #222222ac);
    transform-origin: bottom center;
    /*filter: drop-shadow(0px 13px 5px #222222ac);*/
}

.imgEcoponto.selected {
    transform: scale(1.7);
}

/* Mover copyright para cima */
.mapboxgl-ctrl-logo {
    position: absolute;
	top: calc(100% - 87px - env(safe-area-inset-bottom))
}