:root {
  color-scheme: light;
  /*--ion-color-primary: #2e7e00; É ESTE*/
  --ion-color-primary: #164a00;
}
/*
ion-tab-bar {
    --background: #3fd400;
}
*/
ion-tab-bar {
  --background: rgb(237, 237, 237);
  height: 68px;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

ion-tab-button {
  font-weight: bold;
}

ion-tab-button:not(.designSelectedClass) {
  --color-selected: rgba(0, 0, 0, 0.475);
}

ion-modal {
  height: calc(100% - 68px - env(safe-area-inset-bottom));
}

.ecoselecionado {
  --backdrop-opacity: 0;
  --transition: none !important;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.containerResiduosAtivos {
  position: absolute;
  z-index: 100;
  top: calc(5px + env(safe-area-inset-top));
  transform: translateY(0);
  transition: transform 0.4s ease;
}

ion-avatar {
  z-index: 101;
  position: absolute;
  right: 10px;
  top: calc(5px + env(safe-area-inset-top));
  width: 45px;
  height: 45px;
  transform: translateY(0);
  transition: transform 0.4s ease;
}

.active {
  transform: translateY(-130px);
}

.containerResiduosAtivos .residuosAtivos {
  display: flex;
  gap: 5px;
}

.containerResiduosAtivos .residuosAtivos img {
  width: 50px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.51));
}

