:root {
    color-scheme: light;
    --ion-color-primary: #164a00;
}
/*
ion-tab-bar {
    --background: #3fd400;
}
*/
ion-tab-bar {
    --background: rgb(237, 237, 237);
    height: 68px;
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

ion-tab-button {
    font-weight: bold;
}

ion-tab-button:not(.designSelectedClass) {
    --color-selected: rgba(0, 0, 0, 0.475);
}

ion-modal {
    height: calc(100% - 68px - env(safe-area-inset-bottom));
}

.ecoselecionado {
    --backdrop-opacity: 0;
    --backdrop-background: transparent;
    --transition: none !important;
}

.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
