:root {
    color-scheme: light;
    --ion-color-primary: #000000;
}

ion-tab-bar {
    --background: #3fd400;
}

ion-tab-button:not(.designSelectedClass) {
    --color-selected: rgba(0, 0, 0, 0.475);
}

.modal {
    left: 0;
    right: 0;
    bottom: 60px; /* deixar espaço para a tab bar */
}
